.naugtur .bc-chat-container {
    position: fixed !important;
    z-index: 11511 !important;
    top: 50px !important;
    right: 200px;
    background: #fff;
    width: 30% !important;
    height: calc(100% - 110px) !important;
}
@media (max-width: 1240px) {
    .naugtur .bc-chat-container {
        right: 40px;
    }
}

.naugtur #theme-header {
    display: none !important;
}

.naugtur #page-wrapper.theme {
    background: url(http://www.zastavki.com/pictures/originals/2013/Movies___Roger_Pirate_042988_.jpg) top center no-repeat #ddd;
}

.naugtur #stage {
    z-index: auto !important;
}

.naugtur .bc-chat-messages-container {
    top: 0 !important;
}

.naugtur #bc-chat-input-container,
.naugtur .bc-chat-input,
.naugtur .chat-activity.chat-message .inner {
    width: calc(100% - 80px) !important;
}

.naugtur #bc-chat-join-btn,
.naugtur .bc-chat-overlay,
.naugtur #bc-share {
    display: none !important;
}

.naugtur .bc-chat-actions.hide,
.naugtur #bc-chat-input-container.hide,
.naugtur .chat-settings.hide {
    display: inline-block !important;
}
