.naugtur .bc-chat-container {
    position: fixed !important;
    z-index: 11511 !important;
    top: 35px !important;
    right: 200px;
    background: #fff;
    width: calc(50% - 200px) !important;
    height: calc(100% - 155px) !important;
}
@media (max-width: 1240px) {
    .naugtur .bc-chat-container {
        right: 40px;
        width: calc(50% - 60px) !important;
    }
}

.naugtur #bc-col1, .naugtur #bc-col1 > div {
    max-width: 500px !important;
}

.naugtur #theme-header {
    display: none !important;
}

.naugtur #page-wrapper.theme {
    background: #2c2c2c;
}

.naugtur #stage {
    z-index: auto !important;
}

.naugtur .bc-chat-messages-container {
    top: 0 !important;
}

.naugtur #bc-chat-input-container,
.naugtur .bc-chat-input,
.naugtur .chat-activity.chat-message .inner {
    width: calc(100% - 80px) !important;
}

.naugtur #bc-chat-join-btn,
.naugtur .bc-chat-overlay,
.naugtur #bc-share {
    display: none !important;
}

.naugtur .bc-chat-actions.hide,
.naugtur #bc-chat-input-container.hide,
.naugtur .chat-settings.hide {
    display: inline-block !important;
}

#naugtur-chat-button {
    z-index: 50000;
}
