.naugtur .bc-chat-container {
    position: fixed !important;
    z-index: 11511 !important;
    top: 45px !important;
    left: 25%;
    background: #fff;
    width: 50% !important;
    height: calc(96% - 120px) !important;
}
.naugtur #stage {
    z-index: auto !important;
}
.naugtur .bc-chat-messages-container {
    top: 0 !important;
}
.naugtur #bc-chat-input-container,
.naugtur .bc-chat-input,
.naugtur .chat-activity.chat-message .inner {
    width: calc(96% - 80px) !important;
}
.naugtur #bc-chat-join-btn,
.naugtur .bc-chat-overlay,
.naugtur #bc-share {
    display: none !important;
}
.naugtur .bc-chat-actions.hide,
.naugtur #bc-chat-input-container.hide,
.naugtur .chat-settings.hide {
    display: inline-block !important;
}