.naugtur .bc-chat-container {
    position: fixed !important;
    z-index: 12998 !important;
    top: 0 !important;
    left: 25%;
    background: #fff;
    width: 50% !important;
    height: 90% !important;
}
.naugtur #bc-chat-input-container,
.naugtur .bc-chat-input,
.naugtur .chat-activity.chat-message .inner {
    width: calc(96% - 80px) !important;
}
.naugtur #bc-chat-join-btn,
.naugtur .bc-chat-overlay {
    display: none !important;
}
.naugtur .bc-chat-actions.hide,
.naugtur #bc-chat-input-container.hide,
.naugtur .chat-settings.hide {
    display: inline-block !important;
}